.hero-container {
    display: flex;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    background-color: rgba(173, 216, 230, 0.618);
    }

.hero-unit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    
}

.home-hero {
    object-fit: scale-down;
    height: 300px;
    text-align: center;
    box-shadow: 3px 3px;
    margin: 5px;

}

.hero-tag {
    color: white;
    font-weight: bold;
    background-color: rgba(255, 160, 122, 0.447);
    opacity: 90%;
    padding: 5px;
    position: absolute;
    border: 2px solid salmon;
    text-shadow: 10px solid black;
    box-shadow: 3px 3px;
}

.hero-tag2 {
    color: white;
    font-weight: bold;
    background-color: rgba(255, 160, 122, 0.447);
    opacity: 90%;
    padding: 5px;
    position: absolute;
    margin-top: 100px;
    text-shadow: 10px solid black;
    box-shadow: 3px 3px;

}
.hero-tag:hover{
    opacity: 80%;
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightblue;
}

.nav-item {
    background-color: rgba(255, 255, 255, 0.444);
    padding: 5px;
    box-shadow: 3px 3px;

}

.footer {
    text-align: center;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-decoration: overline;

}